.wrapper{
  margin-left: 12px;
}

li{
  font-size: 140%;
}

.h2NotBold {
  font-size: 150%;
}

h1{
  font-size: 180%;
}

br {
  display: block; /* makes it have a width */
  content: ""; /* clears default height */
  margin-top: 1; /* change this to whatever height you want it */
}
