.button {
  font-family: 'helvetica neue', helvetica, sans-serif;
  display: inline-block;
  border-radius: 10px;
  background-color: rgba(255, 64, 0,0.8);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 80px;
  padding: 20px;
  height: 200px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 55px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
