<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Active Shooter Alerts</title>
  <link rel="stylesheet" href = "myformStyle.css">
</head>

<body>

	<form >
	  <div class="container">
	    <h1>Register</h1>
	    <p>Please fill in this form to create an account.</p>
	    <hr>

			<label for="anotherOne"><b>AnotherOne Password</b></label>
	    <textarea id="details" name="details" rows="5" cols="20" placeholder="Your Message Here"></textarea>

	    <button type="submit" class="registerbtn">Register</button>
	  </div>

	  <hr>

	</form>

</body>

</html>
