<html>
<head>
</head>
<body>
  <div class="wrapper">

    <!-- <header>
      <h1>An alert has been sent: you can now report more details!</h1>
    </header> -->

    <div class="header">
      <a href="/" class="logo">Emergency Alerting System</a>
      <div class="header-right">
        <a class="active" href="/home">Home</a>
        <a href="/about">About Life Saver</a>
        <a href="/creators">Meet the Creators</a>
      </div>
    </div>

  <h1>Thanks for registering!</h1>
  <h2>Here's what we got from you:</h2>
  <p>First Name: {{first_name}}</p>
  <p>Last Name: {{last_name}}</p>
  <p>Email: {{email}}</p>
  <p>Work Zipcode: {{work_zipcode}}</p>
  <p>Home Zipcode: {{home_zipcode}}</p>
  <p>Phone Number: {{phone_number}}</p>
  <p>Phone Carrier: {{phone_carrier}}</p>
  <a href="/">Click here to return home!</a>
</div>
</body>
</html>
