<html>
<head>
  <link rel="stylesheet" href = "/static/commonStyle.css">
  <link rel="stylesheet" href = "/static/registrationConfirmation.css">
</head>
<body>
  <div class="wrapper">

    <!-- <header>
      <h1>An alert has been sent: you can now report more details!</h1>
    </header> -->

    <div class="header">
      <a href="/" class="logo">Emergency Alerting System</a>
      <div class="header-right">
        <a class="active" href="/">Home</a>
        <a href="/about">About LifeSaver</a>
        <a href="/creators">Meet the Creators</a>
      </div>
    </div>

  <div class="main_display">
    <h1>Thanks for registering!</h1>
    <h2>Here's what we got from you:</h2>
    <h3>First Name: {{first_name}}</h3>
    <h3>Last Name: {{last_name}}</h3>
    <h3>Email: {{email}}</h3>
    <h3>Work Zipcode: {{work_zipcode}}</h3>
    <h3>Home Zipcode: {{home_zipcode}}</h3>
    <h3>Phone Number: {{phone_number}}</h3>
    <h3>Phone Carrier: {{phone_carrier}}</h3>
    <br>
    <br>
    <h2><a href="/">Click here to return home!</a></h2>
  </div>
</div>
</body>
</html>
