<!--<html>
<head>
</head>
<body>
   <p>Audio URL: {{url}}</p>
  <p>Audio File Name: {{fileName}}</p>
  <p>Audio File Path: {{filePath}}</p>
  <p>Description: {{details}}</p>
  <a href="/RHF">What to do NEXT</a>
</body>
</html> -->


<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Active Shooter Alerts</title>
  <link rel="stylesheet" href = "/static/commonStyle.css">
</head>

<body>

	<div class="header">
		<a href="#default" class="logo">Emergency Alerting System</a>
    <div class="header-right">
      <a class="active" href="/home">Home</a>
      <a href="/about">About Life Saver</a>
      <a href="/creators">Meet the Creators</a>
    </div>
  </div>

	<p>Audio File Name: {{fileName}}</p>
  <p>Audio File Path: {{filePath}}</p>
  <p>Audio File URL: {{fileURL}}</p>
  <p>Description: {{details}}</p>
  <p>Address: {{address}}</p>
  <p>ZIP: {{zip}}</p>
  <a href="/RHF">What to do NEXT</a>


</body>

</html>
